[user]
	email = markmuetz@gmail.com
	name = Mark Muetzelfeldt
[core]
	editor = vim
	pager = less -r
	askPass = 
	autocrlf = input
[push]
	default = matching
[credential]
	helper = cache --timeout=86400
[color]
	ui = auto
[http]
[http]
[alias]
        # logadog = log --all --decorate --oneline --graph
        # Also has dates. Only difference with above is that tags/HEAD are not coloured differently.
	logadog = log --all --decorate --oneline --graph --date=short --pretty=format:\"%C(yellow)%h%Creset %C(green)(%cd)%Creset%C(red)%C(bold)%d%Creset %s\"
	stash-unapply = !git stash show -p | git apply -R
        dtag = tag --sort=committerdate

[init]
	defaultBranch = main
[pull]
	rebase = false
