[user]
	email = markmuetz@gmail.com
	name = Mark Muetzelfeldt
[core]
	editor = vim
	pager = less -r
[push]
	default = matching
[credential]
	helper = cache --timeout=86400
[color]
	ui = auto
[http]
[http]
[alias]
	logadog = log --all --decorate --oneline --graph
